@@include('./parts/_head.html', {
"title": "Home Page"
})
@@include('./parts/_header.html')

<section class="banner inner__banner about-home">
  <img src="img/about-banner.jpg" alt="About us" class="img-fluid banner-image">
  <div class="banner-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8 col-xl-7">
          <div class="text-entry banner-title">
            <h1 class="mb-0">About Us</h1>
            <p>BlogCatalog is the innovate ecommerce solution especially designed for content creators, bloggers and
              niche influencers.
            </p>
          </div>
        </div>
        <div class="col-lg-6"></div>
      </div>
    </div>
  </div>
</section>


<section class="section story">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 offset-lg-1">
        <div class="story__img">
          <img src="img/logo-green.png" alt="logo">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="story__content">
          <h2 class="mb-3">The BlogCatalog Story</h2>
          <p>Since its founding in 2004, BlogCatalog has been used by millions of bloggers to showcase their unique blog
            content. Today, BlogCatalog has been transformed by our vision to match every product for sale online to its
            single best page of content. We believe that content from a trusted advisor is the best way to sell products
            online, and we help enable that process with ease. Bloggers sell products directly on their pages, we handle
            ALL fulfillment, and bloggers get the commission. It’s as easy as
            copy, paste, sell.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section foundation">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h2 class="text-center mb-3">Built on a Solid Foundation of Performance</h2>
        <ul>
          <li>BlogCatalog is built on a seasoned ecommerce engine that has generated over $15mm+ in sales in the last 4 years</li>
          <li>190K+ orders managed by our customer service team including order fulfillment, refunds and customer communications
          </li>
          <li>Hundreds of thousands of skus in our catalog to date – and growing.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section get-in-touch text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="get-in-touch__img mb-4">
          <img src="img/mail.png" alt="mail">
        </div>
        <h2 class="text-center mb-2">Get in touch</h2>
        <a href="mailto:support@blogcatalog.com" class="red text-center">support@blogcatalog.com</a>
      </div>
    </div>
  </div>
</section>
<section class="section free-trial text-center text-sm-left">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h2 class="_ls-sm">
            Start Your 7-Day FREE Trial Today <br> no credit card required
          </h2>
          <a href="#" class="btn btn-lg btn-danger">START NOW</a>
        </div>
      </div>
    </div>
  </div>
</section>
@@include('./parts/_footer.html')
@@include('./parts/_bottom.html')