@@include('./parts/_head.html', {
"title": "Home Page"
})
@@include('./parts/_header.html')

<section class="banner inner__banner help-home">
  <img src="img/help-banner.jpg" alt="Help" class="img-fluid banner-image">
  <div class="banner-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8 col-xl-7">
          <div class="text-entry banner-title">
            <h1 class="mb-0">Help is here</h1>
            <p>Browse our FAQs, then drop us a line if you have a specific question
            </p>
          </div>
        </div>
        <div class="col-lg-6"></div>
      </div>
    </div>
  </div>
</section>
<section class="section help">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="help__accordion">
          <h2 class="mb-3">FAQs</h2>
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="questionOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Q: Will BlogCatalog work on my site?
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="questionOne" data-parent="#accordion">
                <div class="card-body">
                  A: BlogCatalog works with just about any content management system -- WordPress, WIX, Dudamobile, Tumblr, Weebly, GoDaddy, etc.  If you can add a snip of code and write original content in your system, you can easily start using BlogCatalog.  There are no tools to learn and no third party software to integrate.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="questionTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Q: Do I have to buy a subscription?
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="questionTwo" data-parent="#accordion">
                <div class="card-body">
                  In order to collect commissions on any completed sales or have access to your account after the 7-day
                  free trial, a subscription is required. You can cancel your subscription at any time by contacting
                  support and you will no longer be charged once that billing period has ended.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="questionThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Q: Can I use BlogCatalog on more than one of my sites?
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="questionThree" data-parent="#accordion">
                <div class="card-body">
                  For legal and tax reasons your BlogCatalog account will be attached to one tax reporting ID, and all
                  reporting and payouts are aggregated under that login. As long as your tax reporting ID is the same
                  for all your sites, then yes, you can use your one account on more than one site.
                  <br>
                  If different sites are operating under different tax IDs, or if you need separate reporting for each
                  site, then you'll need to create a unique BlogCatalog account for each site.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="questionFour">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                    aria-expanded="false" aria-controls="collapseFour">
                    Q: How do I add buyable products to my website?
                  </button>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="questionFour" data-parent="#accordion">
                <div class="card-body">
                  Once you decide on a product to include on your site, simply copy and paste the embed code to the desired location of your page, add the provided product description or write your own, then publish. 
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="questionFive">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                    aria-expanded="false" aria-controls="collapseFive">
                    Q: What products should I select?
                  </button>
                </h5>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="questionFive" data-parent="#accordion">
                <div class="card-body">
                  You know your readers best.  Choose products that match the content of your site.  Your readers come to you as a trusted advisor for your content niche.  Find products that match your readers’ interest and you are on your way.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="questionSix">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                    aria-expanded="false" aria-controls="collapseSix">
                    Q: What is a Storefront?
                  </button>
                </h5>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="questionSix" data-parent="#accordion">
                <div class="card-body">
                  A storefront is a collection of products that you create on your website. For example, you could create a Holiday Gifts 01 storefront that will go with your upcoming post on the best gifts to buy. This could have multiple products, or just one featured product. Additionally, you can customize the look and feel of each storefront to look like your site, or apply any global styles that you prefer.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="questionSeven">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven"
                    aria-expanded="false" aria-controls="collapseSeven">
                    Q: Who “sells” the product? 
                  </button>
                </h5>
              </div>
              <div id="collapseSeven" class="collapse" aria-labelledby="questionSeven" data-parent="#accordion">
                <div class="card-body">
                  It depends on the product.  Many different merchants participate in our program and handle all post sale duties including, shipping, tracking and all customer communications.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="questionEight">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight"
                    aria-expanded="false" aria-controls="collapseEight">
                    Q: What happens after someone purchases a product?  
                  </button>
                </h5>
              </div>
              <div id="collapseEight" class="collapse" aria-labelledby="questionEight" data-parent="#accordion">
                <div class="card-body">
                  You earn the commission; the merchant completes the order and handles all customer communications.  In the case of any out of stock situations, the customer will receive a refund and the commission will be reversed out of your account.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="questionNine">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine"
                    aria-expanded="false" aria-controls="collapseNine">
                    Q: Where do you ship products?  
                  </button>
                </h5>
              </div>
              <div id="collapseNine" class="collapse" aria-labelledby="questionNine" data-parent="#accordion">
                <div class="card-body">
                  We currently ship products to US residents only.  We continue to add partners and will have shipping options available for Canada, Mexico and Europe in the near future.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="questionTen">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen"
                    aria-expanded="false" aria-controls="collapseTen">
                    Q: How do returns work? 
                  </button>
                </h5>
              </div>
              <div id="collapseTen" class="collapse" aria-labelledby="questionTen" data-parent="#accordion">
                <div class="card-body">
                  Upon the completion of a sale, the customer receives an immediate order confirmation.  Once their product has shipped, they receive shipping confirmation and a tracking number. The merchant handles all returns and issues any necessary refunds to the customer.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="questionEleven">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven"
                    aria-expanded="false" aria-controls="collapseEleven">
                    Q: - What does ‘earn’ mean?
                  </button>
                </h5>
              </div>
              <div id="collapseEleven" class="collapse" aria-labelledby="questionEleven" data-parent="#accordion">
                <div class="card-body">
                  'Earn’ refers to the % of each transaction that you will make. If the product sells for $100, and the merchant has set the rate at 8%, then you will earn $8 every time someone purchases that product from your site!
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="questionTwelve">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve"
                    aria-expanded="false" aria-controls="collapseTwelve">
                    Q: How often are commission payments sent?
                  </button>
                </h5>
              </div>
              <div id="collapseTwelve" class="collapse" aria-labelledby="questionTwelve" data-parent="#accordion">
                <div class="card-body">
                  Your commissions are paid out within 30 days of the close of the previous month. For example, any commissions you earn in February will be paid by the end of March.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="help__form">
          <h2 class="mb-3">Ask your question</h2>
          <form>
            <div class="form-group">
              <label for="userName">Your Name</label>
              <input type="text" class="form-control" id="userName" aria-describedby="nameHelp">
            </div>
            <div class="form-group">
              <label for="userEmail">Email</label>
              <input type="email" class="form-control" id="userEmail">
            </div>
            <div class="form-group">
              <label for="userMessage">Your Question</label>
              <textarea class="form-control" id="userMessage" rows="8"></textarea>
            </div>
            <button type="submit" class="btn btn-lg btn-danger">SEND NOW</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section free-trial text-center text-sm-left">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h2 class="_ls-sm">
            Start Your 7-Day FREE Trial Today <br> no credit card required
          </h2>
          <a href="#" class="btn btn-lg btn-danger">START NOW</a>
        </div>
      </div>
    </div>
  </div>
</section>
@@include('./parts/_footer.html')
@@include('./parts/_bottom.html')