@@include('./parts/_head.html', {
"title": "Home Page"
})
@@include('./parts/_header.html')

<section class="banner inner__banner works-home">
  <img src="img/how-it-works-banner.jpg" alt="How It Works" class="img-fluid banner-image">
  <div class="banner-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8 col-xl-7">
          <div class="text-entry banner-title">
            <h1 class="mb-0">How It Works</h1>
            <p>Choose a product, paste some code, add a description to match your content style, and monetize your content in minutes.
            </p>
          </div>
        </div>
        <div class="col-lg-6"></div>
      </div>
    </div>
  </div>
</section>

<section class="section ecommerce">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-10 offset-xl-1">
        <div class="ecommerce__content">
          <h2 class="mb-3">Ecommerce… Without the Hassle</h2>
          <p class="mb-5">Ecommerce monetization options today leave a lot to be desired for content creators. Try the
            solution made especially for bloggers, content creators and affiliate marketers.</p>
          <div class="row">
            <div class="col-md-6">
              <div class="ecommerce__content_sm pr-md-5">
                <div class="ecommerce__content_sm-title">
                  <img src="img/icon_problem.png" alt="problem">
                  <h5>Problem</h5>
                  <p>Traditional Affiliate Programs</p>
                </div>
                <ul>
                  <li>building your own ecommerce shop takes time, money and integration skills</li>
                  <li>driving customers to third-party platforms to buy means you lose that traffic</li>
                  <li>affiliate commissions are notoriously hard to track once they leave your site</li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="ecommerce__content_sm pl-md-3">
                <div class="ecommerce__content_sm-title">
                  <img src="img/icon_solution.png" alt="solution">
                  <h5>Solution</h5>
                  <p>BlogCatalog (ecommerce in minutes)</p>
                </div>
                <ul>
                  <li>create ecommerce opportunities in minutes, with the tools you're already using to build your
                    site content </li>
                  <li>integrate ecommerce in your existing style and voice, for a seamless experience</li>
                  <li>capture you readers' interest with products that are relevant to what they're reading</li>
                  <li>they buy directly from your trusted site; you keep your traffic and see immediate results</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section how-it-works__flow">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-10 offset-xl-1">
        <div class="how-it-works__flow-content">
          <div class="how-it-works__flow-title">
            <h2 class="mb-0">How It Works</h2>
            <p class="mb-5">Finally, a simple solution for the millions of bloggers and content creators who want to
              sell
              products directly on their site.</p>
          </div>

          <ul class="how-it-works__flow-list">
            <li>
              <img src="img/icon_09_light.png" alt="icon">
              <p>Create your account to access the BlogCatalog tools</p>
            </li>
            <li>
              <img src="img/icon_01_light.png" alt="icon">
              <p>Choose products that will resonate with your readers</p>
            </li>
            <li>
              <img src="img/icon_10_light.png" alt="icon">
              <p>Embed one piece of code to create the inline shopping cart</p>
            </li>
            <li>
              <img src="img/icon_11_light.png" alt="icon">
              <p>Write a product description in your own voice using your own content creation tools</p>
            </li>
            <li>
              <img src="img/icon_12_light.png" alt="icon">
              <p>Reader clicks "buy now" and purchases without ever leaving your site</p>
            </li>
            <li>
              <img src="img/icon_06_light.png" alt="icon">
              <p>View results in dashboard, then choose more products to add</p>
            </li>
            <li>
              <img src="img/icon_13_light.png" alt="icon">
              <p>The BlogCatalog customer care team is available 24/7 follow-up service and returns</p>
            </li>
            <li>
              <img src="img/icon_14_light.png" alt="icon">
              <p>Product dropships directly to your customer; you collect commission after transaction is complete</p>
            </li>
            <li>
              <img src="img/icon_15_light.png" alt="icon">
              <p>Order is processed and sourced</p>
            </li>
            <li>
              <img src="img/icon_16_light.png" alt="icon">
              <p>Handoff to customer care team</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section how-it-works__tools">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-10 offset-xl-1">
        <div class="how-it-works__tools-content">
          <h2 class="mb-3">Easy To Use Reporting Tools</h2>
          <p class="mb-5">It's your customer; see what they ordered and how much you earned</p>
          <div class="row">
            <div class="col-md-6">
              <div class="how-it-works__tools-img">
                <img src="img/tools.png" alt="tools">
              </div>
            </div>
            <div class="col-md-6">
              <ul class="how-it-works__tools-list">
                <li>Easily see who ordered what</li>
                <li>Track your commissions and payments</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section free-trial text-center text-sm-left">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h2 class="_ls-sm">
            Start Your 7-Day FREE Trial Today <br> no credit card required
          </h2>
          <a href="#" class="btn btn-lg btn-danger">START NOW</a>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('./parts/_footer.html')
@@include('./parts/_bottom.html')