@@include('./parts/_head.html', {
"title": "Home Page"
})
@@include('./parts/_header.html')

<section class="banner">
  <img src="img/banner-home.png" alt="Monetize your content with ecommerce in minutes" class="img-fluid banner-image">
  <div class="banner-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8 col-xl-7">
          <div class="text-entry banner-title">
            <h1 class="mb-0">Add ecommerce to your content ... in minutes</h1>
            <p>Choose from one thousand of products and start selling now without the typical ecommerce and affiliate
              marketing hassles.
            </p>
            <a href="#" class="btn btn-danger">JOIN NOW</a>
          </div>
        </div>
        <div class="col-lg-6"></div>
      </div>
    </div>
  </div>
</section>

<section class="section section-testimonials">
  <div class="container">
    <blockquote class="blockquote text-center">
      <p><i>“The main challenge for content publishers is that we’re typically at the start of the consumer purchasing
          journey (especially when we’re driving discovery through social).
          So the likelihood of winning on last-click attribution is very low.”</i></p>

      <!-- <b>— Nilla Ali</b>, svp of commerce at <i>BuzzFeed</i>, as seen in <a
        href="https://digiday.com/media/publishers-look-commerce-content-attribution-move-beyond-last-click/"
        class="text-danger">Digiday.</a> -->
      <div class="blockquote-footer">
        <div class="d-flex align-items-center justify-content-center">
          <div>
            <img src="img/image_02.png" class="img-circle border blockquote-image">
          </div>
          <div class="text-left ml-3"><b>NILLA ALI</b>
            <p class="mb-0"></p>
          </div>
        </div>
      </div>
    </blockquote>
  </div>
</section>

<section class="section section-benefits text-center text-sm-left">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
        <img src="img/illustration_09.svg" alt="Blog Catalog Benefits" class="benefits-image">
      </div>
      <div class="col-lg-6">
        <div class="py-4">
          <h2>Benefits</h2>
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="benefits-item">
                <img src="img/icon_01_green.png" alt="" class="img-fluid">
                <h5 class="mb-1 text-primary"><b>Huge range of <br> products</b></h5>
                <p class="text-dark">Collect commission on products that will resonate with
                  your brand</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="benefits-item">
                <img src="img/icon_02_green.png" alt="" class="img-fluid">
                <h5 class="mb-1 text-primary"><b>No ecommerce <br> skills needed</b></h5>
                <p class="text-dark">BlogCatalog works with the tools you
                  already use</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="benefits-item">
                <img src="img/icon_03_green.png" alt="" class="img-fluid">
                <h5 class="mb-1 text-primary"><b>Keep your <br> audience</b></h5>
                <p class="text-dark">Your readers purchase right on your page and stay on your site.</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="benefits-item">
                <img src="img/icon_04_green.png" alt="" class="img-fluid">
                <h5 class="mb-1 text-primary"><b>No affiliate <br> links</b></h5>
                <p class="text-dark">Skip the hassle and loss of control of affiliate marketing</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="benefits-item">
                <img src="img/icon_05_green.png" alt="" class="img-fluid">
                <h5 class="mb-1 text-primary"><b>No post-sale <br> obligation</b></h5>
                <p class="text-dark">No inventory to carry, no products to ship</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="benefits-item">
                <img src="img/icon_06_green.png" alt="" class="img-fluid">
                <h5 class="mb-1 text-primary"><b>At-a-glance <br> reporting</b></h5>
                <p class="text-dark">Fully transparent dashboard</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section works-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="mb-0">How it Works</h2>
        <div class="row align-items-start _step-1">
          <div class="col-md-6">
            <div class="pt-3 pb-3">
              <div class="benefits-text">
                <h4>Choose a product</h4>
                <p class="text-secondary mb-0">Choose a product that's relevant to your audience, paste the code, write
                  a description on your page that matches your style and voice, and you're ready to sell. Your ecommerce
                  is now a seamless part of your content experience.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <img src="img/illustration_10.svg" class="my-5 my-md-0 _li-01" alt="">
          </div>
        </div>
        <div class="row align-items-center _step-2">
          <div class="col-md-6 order-md-2">
            <div class="pt-3 pb-3">
              <div class="benefits-text">
                <h4>On page checkout</h4>
                <p class="text-secondary mb-0">Your reader can buy directly on the page, as part of their experience on
                  your site.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 order-md-1 text-center">
            <img src="img/girl.png" class=" _li-02 my-5 my-md-0" alt="">
          </div>
        </div>
        <div class="row align-items-center _step-3">
          <div class="col-md-6 order-2 order-md-2 text-center">
            <img src="img/image_03.png" class="_li-03 my-5 my-md-0" alt="">
          </div>
          <div class="col-md-6 order-1 order-md-1">
            <div class="benefits-text">
              <div class="pt-3 pb-3">
                <h4>BlogCatalog handles order fulfillment</h4>
                <p class="text-secondary mb-0">We process the payment, ship the product and handle any customer service
                  after the sale.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center _step-4">
          <div class="col-md-6 order-2 order-md-1 text-center">
            <img src="img/illustration_11.svg" class="img-fluid my-5 my-md-0" alt="">
          </div>
          <div class="col-md-6 order-1 order-md-2">
            <div class="pt-3 pb-3">
              <div class="benefits-text">
                <h4>Great analytics!</h4>
                <p class="text-secondary mb-0">You get immediate access to sales reporting and income on the dashboard.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center section-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h4>There's never been an easier way for content creators to monetize their sites.</h4>
            <a href="#" class="btn btn-lg btn-danger">LEARN MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="section section-testimonials">
  <div class="container">
    <blockquote class="blockquote text-center">
      <p><i>“I’ve been so frustrated with other ecommerce programs for my blogs.I need something that works right on my
          existing site, and lets mekeep my brand voice and style
          intact. This is it.”</i></p>

      <!-- <b>— Nilla Ali</b>, svp of commerce at <i>BuzzFeed</i>, as seen in <a
        href="https://digiday.com/media/publishers-look-commerce-content-attribution-move-beyond-last-click/"
        class="text-danger">Digiday.</a> -->
      <div class="blockquote-footer">
        <div class="d-flex align-items-center justify-content-center">
          <div>
            <img src="img/image_04.png" class="img-circle border blockquote-image">
          </div>
          <div class="text-left ml-3"><b>CAROL PEARSON</b>
            <p class="mb-0">Founder, 10 Little Rules.com</p>
          </div>
        </div>
      </div>
    </blockquote>
  </div>
</section>

<section class="section free-trial text-center text-sm-left">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h2 class="_ls-sm">
            Start Your 7-Day FREE Trial Today <br> no credit card required
          </h2>
          <a href="#" class="btn btn-lg btn-danger">START NOW</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section ">
  <div class="container">
    <h2 class="text-center">Prices</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card text-white py-4 bg-success mb-5 border-0 text-center">
          <div class="card-body">
            <h4 class="mb-3">Monthly</h4>
            <div class="price-image-box text-success">
              <sup>$</sup>15.99
            </div>
            <h4 class="price-title mb-2 text-white">Try it for a month!</h4>
            <h6 class="font-weight-normal">$15.99/month</h6>
            <a href="#" class="btn btn-danger">JOIN NOW</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white py-4 bg-primary mb-5 border-0 text-center">
          <div class="card-body">
            <h4 class="mb-3 text-info">3 Months</h4>
            <div class="price-image-box text-primary">
              <sup>$</sup>39.99
            </div>
            <h4 class="price-title mb-2 text-white">Great Value</h4>
            <h6 class="font-weight-normal text-info">$13.33/month</h6>
            <a href="#" class="btn btn-danger">JOIN NOW</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white py-4 bg-dark mb-5 border-0 text-center">
          <div class="card-body">
            <h4 class="mb-3 text-danger">6 Months</h4>
            <div class="price-image-box text-danger">
              <sup>$</sup>59.99
            </div>
            <h4 class="price-title mb-2 text-white">Best Value</h4>
            <h6 class="font-weight-normal text-danger">$9.99/month</h6>
            <a href="#" class="btn btn-danger">JOIN NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('./parts/_footer.html')
@@include('./parts/_bottom.html')