@@include('./parts/_head.html', {
"title": "Home Page"
})
@@include('./parts/_header.html')

<section class="banner inner__banner partner-home">
  <img src="img/partner-with-us-banner.jpg" alt="How It Works" class="img-fluid banner-image">
  <div class="banner-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8 col-xl-7">
          <div class="text-entry banner-title">
            <h2 class="mb-2">Partner With Us</h2>
            <p>Have products to sell? Make money with BlogCatalog two ways. Become a supplier and make your products available in our catalog and join our white label affiliate program and offer the BlogCatalog supplier program through your own brand.
            </p>
          </div>
        </div>
        <div class="col-lg-6"></div>
      </div>
    </div>
  </div>
</section>

<section class="section supplier">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-10 offset-xl-1">
        <div class="supplier__content">
          <h2 class="mb-2">Become a BlogCatalog supplier</h2>
          <p class="subtitle mb-4">Make your products available to thousands of niche bloggers, influencers and content
            creators ready to showcase them to their audiences.</p>
          <div class="row">
            <div class="col-md-6">
              <div class="supplier__img">
                <img src="img/factory.png" alt="factory">
              </div>
            </div>
            <div class="col-md-6">
              <ul class="supplier__list">
                <li class="mb-2">work with an established ecommerce partner to expand your reach through our user
                  network</li>
                <li>enjoy higher visiblity when your products are showcased by experts in their niche</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section managment">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-6 offset-xl-1">
        <div class="managment__content">
          <h2>White label affiliate program management</h2>
          <p>The BlogCatalog system is also a next-generation affiliate management system. </p>
          <p>If you sell products online, you can implement a white label version of our system on your site. </p>
          <p>Imagine all your products available to your affiliate partners, in the same easy-to-implement selling style
            available through Blogcatalog.com. </p>
          <p>Our affiliate management system can also be implemented alongside any existing affiliate management
            programs you currently work with.</p>
        </div>

      </div>
      <div class="col-12 col-md-6 col-xl-5">
        <div class="managment__img">
          <img src="img/manage.png" alt="management">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section feedback">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h4 class="text-center">Sign up today to learn how the BlogCatalog system
          can go to work for your company.</h4>
        <h2 class="text-center">Sign up to partner with us</h2>
        <!-- <h2 class="text-center">
          Sign up to partner with us
        </h2> -->
        <div class="partner-form">
          <form>
            <div class="form-group">
              <label for="firstName">First name</label>
              <input type="text" class="form-control" id="firstName">
            </div>
            <div class="form-group">
              <label for="lastName">Last name</label>
              <input type="text" class="form-control" id="lastName">
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" id="email">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="webSite">Website url</label>
                  <input type="text" class="form-control" id="webSite">
                </div>
              </div>
            </div>
            <div class="form-group text">
              <label for="message">Your comments</label>
              <textarea class="form-control" id="message" rows="8"></textarea>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkbox">
                <label class="form-check-label" for="checkbox">
                  I agree to the <a href="#" class="red">terms</a> and <a href="#" class="red">Privacy policy.</a>
                </label>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-group text-center">
                  <a href="#" class="btn btn-danger">LOGIN</a>
                  <a href="#" class="btn btn-danger">JOIN NOW</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
@@include('./parts/_footer.html')
@@include('./parts/_bottom.html')