@@include('./parts/_head.html', {
"title": "Home Page"
})
@@include('./parts/_header.html')

<section class="banner inner__banner protect-home">
  <img src="img/protect-banner.jpg" alt="Help" class="img-fluid banner-image">
  <div class="banner-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8 col-xl-7">
          <div class="text-entry banner-title">
            <h1 class="mb-0">GDPR Compliance</h1>
          </div>
        </div>
        <div class="col-lg-6"></div>
      </div>
    </div>
  </div>
</section>
<section class="section article">
  <div class="container">
    <div class="row">
      <div class="col">
        <article>
          <p>BlogCatalog, LLC ("BlogCatalog") welcomes the General Data Protection Regulation ("GDPR"). We know how
            important data protection is to our customers, and our customers are very important to us. We are here to
            help. We want you to know that we are taking the GDPR requirements very seriously, and that we have worked
            hard to ensure that our privacy standards provide appropriate protection. We have created this GDPR
            Compliance Statement to explain our approach to implementing BlogCatalog's new GDPR compliance program.</p>
          <h4>What is the GDPR and why is it relevant?</h4>
          <p>The GDPR is a new European Union ("EU") regulation that imposes more stringent requirements on companies
            that collect, store or process the personal data of EU residents. Any company that holds personal data of EU
            residents is accountable under the GDPR, regardless of the company's physical location. It's worth noting
            that the definition of "personal data" under the GDPR is very broad, and effectively covers any information
            that may identify an individual. The GDPR is in effect as of May 25 2018, and BlogCatalog has put its GDPR
            compliance program in place.</p>
          <h4>BlogCatalog's Commitment: <br> What are we doing to protect you?</h4>
          <p>At BlogCatalog, we value our customers' success, and understand the importance of knowing that personal
            data is being protected. That's why we, despite already having a top level of security and data protection,
            are nonetheless working hard to provide an even greater level of protection to our customers.</p>
          <p>BlogCatalog hired both US based and EU based legal counsel to work closely with us to ensure complete GDPR
            compliance. We worked with our legal counsel and internal teams to create a GDPR compliance policy that
            addresses each relevant requirement that BlogCatalog must comply with. To this effect, BlogCatalog is
            addressing the GDPR requirements that are applicable to data processors.</p>
          <p>Because of these new requirements, we amended our policies and implemented procedures to make them GDPR
            compliant. These changes include, but are not limited to, policies relating to data processing, information
            security, transition, third party processors, data protection and breach notification. We also made changes
            to our Terms of Use, Privacy Policy and introduced a Data Processing Agreement. We require all BlogCatalog's
            employees to complete additional data privacy and security training that is GDPR focused. BlogCatalog will
            keep customers informed of any and all changes as they progress.</p>
          <p>
            The information given to you by BlogCatalog concerning technical, legal or professional aspects of GDPR is
            for guidance only and does not constitute legal or professional advice. Always consult legal counsel on any
            specific legal problem or matter. We assume no responsibility for such information contained in any
            information provided relating to GDPR and disclaim all liability in respect of such information.</p>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="section free-trial text-center text-sm-left">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h2 class="_ls-sm">
            Start Your 7-Day FREE Trial Today <br> no credit card required
          </h2>
          <a href="#" class="btn btn-lg btn-danger">START NOW</a>
        </div>
      </div>
    </div>
  </div>
</section>
@@include('./parts/_footer.html')
@@include('./parts/_bottom.html')