<footer class="page-footer">
  <div class="footer-row">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12 mb-3 mb-lg-0">
          <div class="footer-logo">
            <a class="navbar-brand d-block text-center w-100 mb-3 mb-md-0" href="#">
              <img src="img/logo_v4.svg" alt="Blog Catalog" class="footer-logo-top w-75">
            </a>
            <a class="navbar-brand d-block text-center w-100 mb-3 mb-md-0" href="#">
              <img src="img/CONTENTTOCOMMERCE.svg" alt="Blog Catalog" class="footer-logo-bottom w-100">
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 mb-3 mb-lg-0">
          <h4 class="page-footer-heading">Blog catalog</h4>
          <ul class="page-footer-list">
            <li><a href="./how-it-works.html">How it works</a></li>
            <li><a href="./help.html">Submit and blog</a></li>
            <li><a href="./partner-with-us.html">Partner with us</a></li>
            <li><a href="./help.html">FAQ</a></li>
            <li><a href="./about.html">About us</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-4 col-6 mb-3 mb-lg-0">
          <h4 class="page-footer-heading">COMMUNITY</h4>
          <ul class="page-footer-list">
            <li><a href="#">FACEBOOK</a></li>
            <li><a href="#">INSTAGRAM</a></li>
            <li><a href="#">TWITTER</a></li>
            <li><a href="#">PINTEREST</a></li>
            <li><a href="#">LINKEDIN</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-4 col-6 mb-3 mb-lg-0">
          <h4 class="page-footer-heading">SUPPORT</h4>
          <ul class="page-footer-list">
            <li><a href="#">Newsletter</a></li>
            <li><a href="#">CONTACT US</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-4 col-6 mb-3 mb-lg-0">
          <h4 class="page-footer-heading">Legal</h4>
          <ul class="page-footer-list">
            <li><a href="#">privacy POLICY</a></li>
            <li><a href="#">Terms and conditions</a></li>
            <li><a href="#">GDPR</a></li>
          </ul>
        </div>
      </div>
  
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="text-center">
            <p>&copy; 2020 Content Ecommerce Network    </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>