<div class="page-header">
  <nav class="navbar navbar-expand-lg navbar-light container py-0">
    <a class="navbar-brand py-0" href="./">
      <img src="img/logo.svg" alt="Blog Catalog">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="./">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./how-it-works.html">HOW IT WORKS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./partner-with-us.html">PARTNER WITH US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./submit-blog.html">SUBMIT A BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./help.html">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./about.html">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LOGIN</a>
        </li>
      </ul>
      <a href="#" class="btn btn-danger ml-none header-btn">JOIN NOW</a>
    </div>
  </nav>
</div>