.story {
  padding: 100px 0;

  @include media-breakpoint-down(lg) {
    padding: 60px 0;
  }

  @include media-breakpoint-down(md) {
    padding: 40px 0;
  }

  &__content {
    width: 110%;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }

    p {
      font-size: 20px;
      line-height: 1.3em;
      padding-right: 60px;

      @include media-breakpoint-down(lg) {
        padding-right: 0;
      }

      @include media-breakpoint-down(md) {
        font-size: 18px;
      }
    }
  }

  &__img {
    max-width: 410px;
    margin-left: auto;
    margin-right: 10px;

    @include media-breakpoint-down(md) {
      margin: 0 auto 30px;
    }

    img {
      width: 100%;
    }
  }
}

.foundation {
  @include media-breakpoint-down(md) {
    padding-top: 0;
  }
  ul {
    list-style: none;
    padding-left: 0;

    li {
      padding-left: 20px;
      position: relative;
      font-size: 20px;
      line-height: 1.462em;
      margin-bottom: 15px;

      @include media-breakpoint-down(lg) {
        font-size: 18px;
      }

      @include media-breakpoint-down(md) {
        font-size: 16px;
      }

      &:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        left: 0;
        top: 15px;
        background-color: $blue;
      }
    }
  }
}

.get-in-touch {

  &__img {
    max-width: 147px;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  a {
    font-size: 32px;

    @include media-breakpoint-down(lg) {
      font-size: 28px;
    }

    @include media-breakpoint-down(md) {
      font-size: 24px;
    }
  }
}

.free-trial {
  padding-bottom: 100px;

  @include media-breakpoint-down(lg) {
    bottom: 80px;
  }

  @include media-breakpoint-down(md) {
    padding-bottom: 60px;
  }
}