.article {
  p {
    font-size: 20px;
    line-height: 1.462em;
    margin-bottom: 60px;

    @include media-breakpoint-down(lg) {
      font-size: 18px;
      margin-bottom: 40px;
    }

    @include media-breakpoint-down(md) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  h2 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}