.page-footer {
  background-color: $blue;
  padding: 37px 0 0 0;
  color: $white;

  @include media-breakpoint-down(md) {
    padding: 37px 0 0 0;
  }

  .navbar-brand {
    opacity: .5;
  }

  &-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;

    li {
      margin-bottom: 3px;
    }

    a {
      color: $white;
      white-space: nowrap;
    }
  }

  &-heading {
    color: #9a9dc5;
    text-transform: uppercase;
    font-size: 16px;
    white-space: nowrap;
    margin-bottom: 10px;
  }
}

.footer {
  &-bottom {
    padding: 15px 0;
    background-color: #242961;

    p {
      font-size: 12px;
      color: #a3a5a6;
      margin-bottom: 0;
    }
  }

  &-row {
    padding-bottom: 30px;
  }

  &-content {
    width: 100%;
    max-width: 460px;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
  }

  &-copyright {
    font-size: 14px;

    a {
      font-size: 14px;
    }
  }

  &-logo {
    max-width: 220px;
    margin-left: 0;
    margin-right: auto;

    @include media-breakpoint-down(lg) {
      max-width: 180px;
    }

    @include media-breakpoint-down(md) {
      max-width: 120px;
    }

    @include media-breakpoint-down(sm) {
      max-width: 50%;
      display: block;
      margin: 0 auto;
    }
  }
}

.license {
  font-size: 12px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  opacity: .5;
}