
.page-header {
  padding: 12px 0;

  .navbar-brand {
    max-width: 180px;
    @include media-breakpoint-down(lg) {
      max-width: 90px;
    }

    img {
      width: 100%;
    }
  }
  
  .navbar-expand-lg .navbar-nav .nav-item {
    &.active {
      .nav-link {
        color: $gray-700;
      }
    }

    .nav-link {
      color: $red;
      padding: 0 .7rem;
      font-size: 14px;
      @include media-breakpoint-down(md) {
        font-size: 12px;
      }
    }
  }
}

.header-btn {
  margin-left: 40px;
  @include media-breakpoint-down(lg) {
    margin-left: 20px;
  }
}

.banner {
  position: relative;
  min-height: 620px;
  // display: flex;
  // align-items: center;
  overflow-x: hidden;

  @include media-breakpoint-down(sm) {
    min-height: auto;
    // padding: 100px 0;
    flex-direction: column;
  }

  &-container {
    height: 100%;
    width: 100%;
  }

  &-image {
    position: absolute;
    top: -32px;
    right: -40px;
    z-index: -1;
    height: calc(100% + 32px);
    object-fit: cover;
    @include media-breakpoint-down(lg) {
      right: -265px;
    }

    // @include media-breakpoint-down(md) {
    //   right: -450px;
    // }

    @include media-breakpoint-down(md) {
      // display: none;
      position: relative;
      right: 0;
      width: 100%;
      margin-bottom: 30px;
    }
  }

  p {
    font-size: 20px;
    color: $gray-700;
    padding-right: 100px;
    @include media-breakpoint-down(sm) {
      padding-right: 0;
    }
    @include media-breakpoint-down(lg) {
      font-size: 18px;
    }

    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
  }
}
.banner-btn {
  padding-right: 140px;

  @include media-breakpoint-down(sm) {
    padding-right: 0;
  }
  .btn {
    min-width: 140px;
    height: 40px;
  }
}