.help {

  &__accordion {
    padding-left: 60px;
    @include media-breakpoint-down(lg) {
      padding-left: 30px;
      margin-bottom: 30px;
    }
    .card {
      border: none;
    }

    .card-header {
      background-color: transparent;
      padding: 0;
      margin-bottom: 20px;
      border: none;

      .btn-link {
        padding: 0;
        font-size: 20px;
        line-height: 1.462em;
        color: $gray-700;
        text-align: left;
        text-decoration: none;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          left: -30px;
          top: 10px;
          width: 15px;
          height: 15px;
          background-image: url(../img/arrow_red.png);
          background-size: cover;
          transition: transform .4s ease;
          transform: rotate(90deg);
        }

        @include media-breakpoint-down(lg) {
          font-size: 18px;
        }

        @include media-breakpoint-down(md) {
          font-size: 16px;
        }

        &.collapsed {
          &::before {
            transform: rotate(0);
          }
        }
      }
    }

    .card-body {
      padding: 0;
      font-size: 20px;
      line-height: 1.462em;
      color: $blue;
      text-align: left;
      margin-bottom: 30px;
      @include media-breakpoint-down(lg) {
        font-size: 18px;
        margin-bottom: 20px;
      }

      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
    }
  }

  &__form {
    padding-left: 60px;
    @include media-breakpoint-down(lg) {
      padding-left: 0;
    }
    label {
      font-size: 24px;

      @include media-breakpoint-down(lg) {
        font-size: 20px;
      }

      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
    }

    input.form-control {
      height: 60px;
      line-height: 60px;
      font-size: 18px;
    }

    .btn {
      display: block;
      margin: 0 auto;
    }

    textarea {
      resize: none;
    }
  }
}