.help-home {
  &.banner p {
    padding-right: 200px;

    @include media-breakpoint-down(lg) {
      padding-right: 150px;
    }
    @include media-breakpoint-down(md) {
      padding-right: 0;
    }
  }

  .banner-image {
    right: 0;

  }
}

.about-home {
  .banner-image {
    right: 0;
  }
  &.banner p {
    padding-right: 160px;

    @include media-breakpoint-down(md) {
      padding-right: 0;
    }
  }
}

.protect-home {
  .banner-image {
    right: 0;
  }
}

.works-home {
  .banner-image {
    right: 0;
  }
}

.partner-home {
  .banner-image {
    right: -40px;
    @include media-breakpoint-down(lg) {
      right: -160px;
    }
    @include media-breakpoint-down(md) {
      right: 0;
    }
  }
}

.subtitle {
  font-size: 20px;
  line-height: 1.462em;

  @include media-breakpoint-down(lg) {
    font-size: 18px;
  }

  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
}

.ecommerce {
  @include media-breakpoint-down(md) {
    padding-bottom: 0;
  }

  .ecommerce__content {

    p {
      font-size: 20px;

      @include media-breakpoint-down(lg) {
        font-size: 18px;
      }

      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
    }
  }

  .ecommerce__content_sm {
    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }

    &-title {

      p,
      h5 {
        @include media-breakpoint-down(sm) {
          text-align: center;
        }

      }

      img {
        max-width: 145px;
        width: 100%;
        margin-bottom: 10px;

        @include media-breakpoint-down(lg) {
          max-width: 85px;
        }

        @include media-breakpoint-down(sm) {
          display: block;
          margin: 0 auto;
        }
      }
    }

    h5 {
      color: $blue;
      font-size: 28px;
      margin-bottom: 0;
    }

    p {
      font-size: 20px;
      margin-bottom: 10px;

      @include media-breakpoint-down(lg) {
        font-size: 18px;
      }

      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;
        font-size: 20px;

        @include media-breakpoint-down(lg) {
          font-size: 18px;
        }

        @include media-breakpoint-down(md) {
          font-size: 16px;
        }

        &:before {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: $blue;
          border-radius: 50%;
          top: 12px;
          left: 0;
        }
      }
    }
  }
}

.how-it-works__flow {
  &-title {
    p {
      padding-right: 100px;

      @include media-breakpoint-down(lg) {
        padding-right: 80px;
      }

      @include media-breakpoint-down(md) {
        padding-right: 0;
      }
    }
  }

  p {
    font-size: 20px;

    @include media-breakpoint-down(lg) {
      font-size: 18px;
    }

    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
  }
}

.how-it-works__flow-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;

  li {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 5px;
    text-align: center;
    position: relative;
    margin-bottom: 40px;

    @include media-breakpoint-down(md) {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 20px;
    }

    &:before {
      content: "";
      position: absolute;
      right: -15px;
      top: 30px;
      width: 30px;
      height: 30px;
      background-image: url(../img/arrow_blue.png);
      background-size: cover;
      background-position: center;

      @include media-breakpoint-down(lg) {
        top: 10px;
        width: 20px;
        height: 20px;
        right: -10px;
      }

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &:nth-child(5) {
      &:before {
        top: auto;
        bottom: -10px;
        right: auto;
        left: 50%;
        transform: translate(-50%, 0) rotate(90deg);
      }
    }

    &:nth-child(n+6) {
      &:before {
        right: auto;
        left: -15px;
        transform: scale(-1);

        @include media-breakpoint-down(lg) {
          left: -10px;
        }
      }
    }

    &:nth-child(6) {
      &:before {
        top: -50px;
        right: auto;
        left: 50%;
        transform: translate(-50%, 0) rotate(-90deg);

        @include media-breakpoint-down(lg) {
          top: -40px;
        }
      }
    }

    &:nth-child(6) {
      @include media-breakpoint-down(md) {
        order: 5;
        margin-bottom: 0;
      }
    }

    &:nth-child(7) {
      @include media-breakpoint-down(md) {
        order: 4;
        margin-bottom: 0;
      }
    }

    &:nth-child(8) {
      @include media-breakpoint-down(md) {
        order: 3;
      }
    }

    &:nth-child(9) {
      @include media-breakpoint-down(md) {
        order: 2;
      }
    }

    &:nth-child(10) {
      @include media-breakpoint-down(md) {
        order: 1;
      }
    }

    img {
      max-width: 145px;
      width: 100%;

      @include media-breakpoint-down(lg) {
        max-width: 85px;
      }
    }

    p {
      font-size: 16px;
    }
  }

  p {
    color: $blue;
  }
}

.how-it-works__tools-content {
  p {
    color: $gray-700;
    font-size: 20px;

    @include media-breakpoint-down(lg) {
      font-size: 18px;
    }

    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
  }

}

.how-it-works__tools-img {
  position: relative;
  left: -70px;
  max-width: 100%;

  @include media-breakpoint-down(lg) {
    left: 0;
  }

  img {
    width: 130%;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }
}

.how-it-works__tools-list {
  width: 110%;
  position: relative;
  left: 0;
  top: 40%;
  list-style: none;
  padding-left: 0;

  @include media-breakpoint-down(lg) {
    top: 30%;
    width: 100%;
  }

  @include media-breakpoint-down(md) {
    margin-top: 20px;
  }

  li {
    font-size: 20px;
    line-height: 1em;
    color: $gray-700;
    padding-left: 20px;
    position: relative;
    margin-bottom: 15px;

    &:before {
      content: "";
      position: absolute;
      top: 6px;
      left: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $gray-700;
    }

    @include media-breakpoint-down(lg) {
      font-size: 18px;
    }

    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
  }
}

.free-trial {
  .btn {
    font-size: 38px;
    padding: .7rem 2rem;

    @include media-breakpoint-down(md) {
      font-size: 30px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 22px;
    }
  }
}