.supplier {

  &__img {
    width: 110%;
    position: relative;
    left: -60px;

    img {
      width: 100%;
    }

    @include media-breakpoint-down(lg) {
      width: 100%;
      left: 0;
    }
  }

  &__list {
    width: 130%;
    position: relative;
    left: -30px;
    top: 40%;

    @include media-breakpoint-down(lg) {
      top: 20%;
      width: 100%;
      left: 0;
    }

    @include media-breakpoint-down(md) {
      margin-top: 20px;
    }

    li {
      font-size: 20px;
      line-height: 1.462em;
      color: $gray-700;

      @include media-breakpoint-down(lg) {
        font-size: 18px;
      }

      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
    }
  }
}

.managment {
  &__content {
    h2 {
      width: 110%;

      @include media-breakpoint-down(lg) {
        width: 100%;
      }
    }
  }

  p {
    font-size: 20px;
    line-height: 1.462em;

    @include media-breakpoint-down(lg) {
      font-size: 18px;
    }

    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
  }

  &__img {
    img {
      width: 100%;
    }
  }
}

.feedback {
  .h4, h4 {
    color: $red;
    margin-bottom: 60px;
    @include media-breakpoint-down(lg) {
      font-size: 40px;
    }
  }
  .form-group {
    height: 62px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    &.text {
      height: auto;
    }

    label {
      position: absolute;
      top: .375rem;
      left: .75rem;
      font-size: 10px;
      color: $black;
      font-weight: bold;
    }

    .btn {
      width: 100%;
      height: 100%;
      font-size: 30px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      max-width: 45%;
      @include media-breakpoint-down(lg) {
        font-size: 24px;
      }

      @include media-breakpoint-down(md) {
        font-size: 20px;
      }
    }
  }

  .form-control {
    height: 100%;
    border-radius: 6px;
  }

  textarea {
    resize: none;
  }

  textarea.form-control {
    height: auto;
  }

  .form-check-input {
    width: 30px;
    height: 30px;
    border-radius: 0;
    background: none;
    margin-top: 0;
  }

  label.form-check-label {
    font-size: 18px;
    color: black;
    position: static;
    padding-left: 15px;
  }

  .partner-form {
    max-width: 480px;
    margin: 0 auto;
  }
}