.section {
  padding: 60px 0;
  overflow: hidden;
  @include media-breakpoint-down(md) {
    padding: 40px 0;
  }
  &-footer {
    padding-top: 100px;
    .h4, h4 {
      color: $gray-700;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 35px;
    }
  }

  &-lg {
    padding: 140px 0;

    @include media-breakpoint-down(sm) {
      padding: 60px 0;
    }

  }
}

.bg-light-green {
  background-color: $light-green;
}

.img-limiter {
  max-width: 190px;

  @include media-breakpoint-down(sm) {
    max-width: 130px;
  }
}

.bg-light-blue {
  background-color: $light-blue;
}

.benefits-image {
  max-width: 420px;
}

._li-01 {
  max-width: 285px;
}

._li-02 {
  max-width: 370px;
}

._li-03 {
  max-width: 390px;
}

.section-testimonials {
  padding-bottom: 0;
}
.section-benefits {
  padding-top: 40px;
  padding-bottom: 0;
  h2 {
    margin-bottom: 38px;
  }
}
.benefits-item {
  margin-bottom: 28px;
  p {
    font-weight: 500;
  }
}
.works-section {
  padding-top: 27px;
}
.benefits-text {
  h4 {
    margin-bottom: 3px;
    margin-top: 10px;
  }
  p {
    font-size: 20px;
  }
}
.banner-title {
  padding-top: 150px;
  @include media-breakpoint-down(lg) {
    padding-top: 60px;
    padding-right: 140px;
  }
  @include media-breakpoint-down(md) {
    padding-top: 0;
    padding-right: 0;
  }
}