.btn.btn-danger {
  color: $white;
}

.blockquote {
  position: relative;
  padding: 10px 19%;
  font-size: 20px;

  &:after,
  &:before {
    content: '';
    position: absolute;
    width: 8%;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &:before {
    background-image: url('../img/blockquote-left.png');
    left: 10%;
    top: 10px;
    width: 60px;

    @include media-breakpoint-down(md) {
      left: 0;
    }
  }

  &:after {
    background-image: url('../img/blockquote-right.png');
    right: 10%;
    top: 10px;
    width: 60px;

    @include media-breakpoint-down(md) {
      right: 0;
    }
  }

  @include media-breakpoint-down(md) {
    font-size: 1.3rem;
    padding: 24px 70px;

    &:after,
    &:before {
      width: 55px;
      height: 55px;
    }
  }

  @include media-breakpoint-down(sm) {
    font-size: 1.3rem;
    padding: 24px 40px;

    &:after,
    &:before {
      width: 25px;
      height: 25px;
    }
  }

  &-white {
    &:before {
      background-image: url('../img/blockquote-right-white.png');
    }

    &:after {
      background-image: url('../img/blockquote-left-white.png');
    }
  }

  &-image {
    width: 97px;
    height: 97px;

    @include media-breakpoint-down(sm) {
      width: 70px;
      height: 70px;
    }
  }

  &-footer {
    padding-top: 25px;

    a {
      word-break: break-all;
    }

    &:before {
      display: none;
    }
  }

  &-short-text {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

h1,
h2 {
  font-size: 58px;
  line-height: 1em;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 20px;
}

@include media-breakpoint-down(md) {
  h1 {
    font-size: #{13 * 3.625}px
  }

  h2 {
    font-size: #{13 * 3.625}px
  }

  h3 {
    font-size: #{13 * 2.43}px
  }

  h4 {
    font-size: #{13 * 2}px
  }

  h5 {
    font-size: #{13 * 1.75}px
  }

  h6 {
    font-size: #{13 * 1.625}px
  }
}

@include media-breakpoint-down(sm) {
  h1 {
    font-size: #{11 * 3.625}px
  }

  h2 {
    font-size: #{11 * 3.625}px
  }

  h3 {
    font-size: #{11 * 2.43}px
  }

  h4 {
    font-size: #{11 * 2}px
  }

  h5 {
    font-size: #{11 * 1.75}px
  }

  h6 {
    font-size: #{11 * 1.625}px
  }
}

@include media-breakpoint-down(xs) {
  h1 {
    font-size: #{9 * 3.625}px
  }

  h2 {
    font-size: #{9 * 3.625}px
  }

  h3 {
    font-size: #{9 * 2.43}px
  }

  h4 {
    font-size: #{9 * 2}px
  }

  h5 {
    font-size: #{9 * 1.75}px
  }

  h6 {
    font-size: #{9 * 1.625}px
  }
}

._ls-sm {
  @include media-breakpoint-up(lg) {
    letter-spacing: -1.3px;
  }
}

.img-circle {
  border-radius: 100%;
}

.price-image-box {
  background-image: url('../img/illustration_08.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 80px;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  padding: 50px 0 67px;

  @include media-breakpoint-down(lg) {
    font-size: 60px;
  }

  @include media-breakpoint-down(md) {
    font-size: 50px;
    padding: 40px 0 55px;
  }
}

sup {
  font-size: 60%;
  top: -.3em;
}

.price-title {

  @include media-breakpoint-up(md) {
    font-size: 1.25rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 2rem;
  }
}

.red {
  color: $red;
}

.works-section h5 {
  font-weight: 600;
}