$font-family-sans-serif: "Raleway",
Arial,
sans-serif;

$font-size-base: 1rem;

$small-font-size: 87%;

$navbar-toggler-font-size: $font-size-base;

$black: #000000;
$gray-700: #636466;
$blue: #343987;
$light-blue: #79b6f6;
$red: #f96f70;
$light-green: #d7e8a1;
$green: #afd137;
$light: #e6e7e9;

$body-color: $gray-700;

$input-btn-font-size: $font-size-base * 1.125;
$input-btn-line-height: 1;

$btn-padding-y: .625rem;
$btn-padding-x: 1rem;

$btn-font-size-lg: 2.313rem;

$font-weight-light: 500;
$font-weight-normal: 600;
$font-weight-bold: 700;

$headings-margin-bottom: 1em;
$btn-padding-y-lg: .844rem;
$btn-padding-x-lg: 1.667rem;

$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1315px);

$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1285px);

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$navbar-nav-link-padding-x: 0.72rem;

$h1-font-size: $font-size-base * 3.625; // 58
$h2-font-size: $font-size-base * 3; // 48
$h3-font-size: $font-size-base * 2.43; // 39
$h4-font-size: $font-size-base * 2; // 32
$h5-font-size: $font-size-base * 1.75; // 28
$h6-font-size: $font-size-base * 1.5; // 24

$headings-font-weight: $font-weight-bold;

$headings-color: $blue;

$blockquote-small-color: $gray-700;
$blockquote-small-font-size: $font-size-base;
$blockquote-font-size: $font-size-base * 1.5;